* {
    font-family: 'Quicksand', sans-serif;
}

header {
    padding: 15px;
}


footer {
    margin: auto;
    padding: 5px;
    overflow: auto;
}

h1 {
    text-align: center;
    padding-top: 0;
    margin-top: 0;
}

nav li {
    background: #fff;
    margin: 1em;
    padding: 1em;
}

nav {
    margin-left: auto;
    margin-right: auto;
}

ul {
    padding: 0;
    list-style-type: none;
    margin: auto;
    text-align: center;
    display: block;
}

a {
    color: black;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
  }
 
p {
    text-align: center;
}

hr {
    margin-right: 5%;
    margin-left: 5%;
    border-color: black;
}

header,
footer,
.contact {
    background: rgb(177, 59, 79);
}

.portfolio {
    background: #fff;
}

p,
h3,
h2,
h1 {
    letter-spacing: 1px;
    line-height: 2em;
}

.student-name {
    margin-top: 20px;
}

img {
   
    display: block;
    margin-left: auto;
    margin-right: auto; 
    width: 90%;
    height: 90%;
}

header img {
    padding: 30px 30px 15px 30px;
}

header p {
    padding: 15px 30px 30px 30px;
}

article,
.contact {
    padding-top: 2.5em;
    padding-bottom: 2.5em;
}

header p,
article p,
.contact p {
    width: 90%;
    margin: auto;
}

.contact-paragraph {
    padding-bottom: 40px;
}
.profile-image {
    width: 70%;
    height: 70%;
}

h3 {
    text-align: center;
}

.portfolio {
    margin-top: 5em;
    margin-bottom: 5em;
}

.footer-button {
    margin-right: 40px;
    float: right;
    overflow: auto;
}

.footer-studentname {
    margin-left: 40px;
    float: left;
    overflow: auto;
}

.footer-nav {
    display: none;
}

/* media querries */

/* styling for tablets */
 @media (min-width: 768px) {
    ul li {
        background: none;
        margin: 1em;
        padding: 1em;
        display: inline-block;
        
    }
    
    nav {
        margin-left: auto;
        margin-right: auto;   
        
    }
    
    ul {
        padding: 0;
        list-style-type: none;
        margin: auto;
        text-align: center;
        
    }
    
    a {
        color: black;
        text-align: center;
        text-decoration: none;
        
      }


     .header-p {
        float: left;
        width: 40%;
        padding-bottom: 50px;
        
     }

     .profile-image {
         float: right;
         width: 40%;  
     }

    article {
        width: 50%;
        
    }
    .marketing-page {
        float: left;
    }

    .search-page {
        float: right;
    }

    .travel-app {
        float: left;
    }

    .map-of-favorite-spots {
        float: right;
    }

    .photo-gallery {
        float: left;
    }

    .calculator {
        float: right;
    }

    .footer-nav {
        display: inline-block;
        float: right;
    }

    .footer-button {
        display: none;
    }
    
  
 }

/* styling for desktops */
 @media (min-width: 1024px) {

    .student-name {
        float: left;
        padding-left: 3%
    }

    .header-p {
        text-align: left;
    }

    nav {
        float: right;
    }

    .profile-img {
        float: right; 
        display: inline-block;
    }

    article {
        width: 33.3%;
        
    }
    .marketing-page {
        float: left;
    }

    .search-page {
        float: right;
    }

    .travel-app {
        float: right;
    }

    .map-of-favorite-spots {
        float: left;
    }

    .photo-gallery {
        float: right;
    }

    .calculator {
        float: right;
    }


 }

 .clearfix:before,
.clearfix:after {
  content: ".";    
  display: block;    
  height: 0;    
  overflow: hidden;        
}
.clearfix:after { clear: both; }
.clearfix { zoom: 1 ;}

