* {
    font-family: 'Quicksand', sans-serif;
}

body {
    background: rgb(238, 229, 229);
}

h1 {
    text-align: center;
}

nav li {
    background: #fff;
    margin: 1em;
    padding: 1em;
}

nav {
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style-type: none;
    margin: auto;
    text-align: center;
    display: block;
}

a {
    color: black;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
  }
 
p {
    text-align: center;
}

p,
h3,
h2,
h1 {
    letter-spacing: 1px;
    line-height: 2em;
}

.student-name {
    margin-top: 20px;
}

img {
   
    display: block;
    margin-left: auto;
    margin-right: auto; 
    width: 90%;
    height: 90%;
}

.profile-image {
    width: 70%;
    height: 70%;
}

h3 {
    text-align: center;
}

.portfolio {
    margin-top: 5em;
    margin-bottom: 5em;
}


/* media querries */



