* {
    font-family: 'Quicksand', sans-serif;
}

header {
    padding: 15px;
}


footer {
    margin: auto;
    padding: 5px;
}

h1 {
    text-align: center;
    padding-top: 0;
    margin-top: 0;
}

nav li {
    background: #fff;
    margin: 1em;
    padding: 1em;
}

nav {
    margin-left: auto;
    margin-right: auto;
}

ul {
    padding: 0;
    list-style-type: none;
    margin: auto;
    text-align: center;
    display: block;
}

a {
    color: rgb(6, 61, 240);
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
  }
 
p {
    text-align: center;
}

hr {
    margin-right: 5%;
    margin-left: 5%;
    border-color: black;
}

header,
footer,
.contact {
    background: rgb(177, 59, 79);
}

p,
h3,
h2,
h1 {
    letter-spacing: 1px;
    line-height: 2em;
}

.student-name {
    margin-top: 20px;
}

img {
   
    display: block;
    margin-left: auto;
    margin-right: auto; 
    width: 90%;
    height: 90%;
}

header img {
    padding: 30px 30px 15px 30px;
}

header p {
    padding: 15px 30px 30px 30px;
    max-width: 290px;
}

article,
.contact {
    padding-top: 2.5em;
}

.skills {
    padding-bottom: 5em;
}

header p,
article p,
.contact p,
.skills p {
    width: 80%;
    margin: auto;
}

.contact-paragraph {
    padding-bottom: 40px;
}
.profile-image {
    max-width: 500px;
    width: 70%;
    height: 70%;
    
}

h3 {
    text-align: center;
}

.portfolio {
    margin-top: 5em;
    margin-bottom: 5em;
    background: #fff;
}

.footer-button {
    vertical-align: center;
    margin-right: 5%;
    float: right;
    font-size: 14px;
}

.footer-studentname {
    vertical-align: center;
    margin-left: 5%;
    float: left;
    font-size: 16px;
    line-height: 1.4;
}

.footer-nav {
    display: none;
}

.links {
    color: blue;
    text-transform: none;

}

.skills-img {
    width: 30%;
    height: 30%;
}

.skills p {
    color: rgb(233, 18, 136);
}

#skills {
    
}

/* media querries */

/* styling for tablets */
 @media (min-width: 768px) {
    ul li {
        background: none;
        margin: 1em;
        padding: 1em;
        display: inline-block;
        
    }
    
    nav {
        margin-left: auto;
        margin-right: auto;
    }
    
    ul {
        padding: 0;
        list-style-type: none;
        margin: auto;
        text-align: center;
        
    }
    
    a {
        color: rgb(6, 4, 87);
        text-align: center;
        text-decoration: none;
        
      }

      a:hover {
          color: rgb(165, 155, 206);
      }


     .header-p {
        float: left;
        width: 40%;
        padding-bottom: 50px;
        
     }

     .profile-image {
         float: right;
         width: 40%;  
     }

    article {
        width: 50%;
    }
    .marketing-page {
        float: left;
    }

    .search-page {
        float: right;
    }

    .travel-app {
        float: left;
    }

    .map-of-favorite-spots {
        float: right;
    }

    .photo-gallery {
        float: left;
    }

    .calculator {
        float: right;
    }

    .footer-nav {
        display: inline-block;
        float: right;
        margin-right: 2%;
    }

    .footer-button {
        display: none;
    }

    .portfolio article {
        min-height: 424px;
    }

    .footer-studentname {
        display: inline-block;
        margin-top: 3%;
        padding: 0;
        line-height: 2.2;
    }

  
 }

/* styling for desktops */
 @media (min-width: 1024px) {

    * {
        max-width: 1400px;
        margin: 0 auto;
    }

    .student-name {
        float: left;
        padding-left: 3%
    }

    .header-p {
        text-align: left;
    }

    nav {
        float: right;
    }

    .profile-img {
        max-width: 300px;
        float: right; 
        display: block;
    }

    article {
        width: 33.3%;
        
    }
    .marketing-page {
        float: left;
    }

    .search-page {
        float: right;
    }

    .travel-app {
        float: right;
    }

    .map-of-favorite-spots {
        float: left;
    }

    .photo-gallery {
        float: right;
    }

    .calculator {
        float: right;
    }

    .footer-studentname {
        line-height: 1.6;
    }
 }

 .clearfix:before,
.clearfix:after {
  content: ".";    
  display: block;    
  height: 0;    
  overflow: hidden;        
}
.clearfix:after { clear: both; }
.clearfix { zoom: 1 ;}

